/* TODO establecer variables */
:root {
  --ff-main: system-ui;

  --main-color: ;
  --accent-color: ;
  --bg-color: lightgray;

  --txt-accent-color: #f72585;
}

.dark {
  --main-color: ;
  --accent-color: ;
  --bg-color: #343a40;

  --txt-accent-color: #f72585;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  position: relative;
}

img,
picture,
svg,
video {
  /* asegura que si la imagen no carga, el texto alternativo se renderiza en itálico para que se pueda diferenciar */
  font-style: italic;

  display: block;
  height: auto;
  max-width: 100%;
}

/* Estilos genéricos */
body {
  font-family: var(--ff-main);
  position: relative;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}
/* Estilos específicos */
.main-header {
  padding: 1.5rem 2rem;
  /* padding-block: 1.5rem; */
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4rem;
  border-bottom: 1px solid black;
  width: calc(100% - 4rem);
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.menu-content {
  margin: 5rem 2rem;
  transition: all 250ms;
  z-index: -1;
}

.post-container {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -25%);
  width: 40svw;
  height: min-content;
  border: 1px solid black;
}

.post {
  margin-block: 2rem;
}

.trending-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20%;
  right: 5%;
}

.trending-container h2 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.switch-tema {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
/* utility classes */
.hidden {
  transform: translateY(50%) scaleY(0);
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.btn {
  border-radius: 32px;
  border: 4px inset var(--txt-accent-color);
  padding: 15px 40px;
  border-color: purple;
  background-color: #f72585;
}
